@import "../plugins/bootstrap/less/variables.less";

@navbar-height: 50px;
@min-supported-size: 350px;

//Colour shemes
@cool-grey: #778492;
@heart-orange: #fb866a;
@warm-orange: #F05F40;


@shuffle-logo-color: #9E5471;
@shuffle-text-color: #555555;

@about-separator-theme-color: #F05F40;
@about-headline-link-color: #9E5471;
@about-container-color: #F05F40;

@about-intouch-color: #9E5471;

@touch-icon-color: @cool-grey;

@footer-text-color: @cool-grey;
@footer-heart-color: @heart-orange;
