{% extends 'base.html' %}
{% load static %}

{% block title %} About | {{ block.super }} {% endblock title %}

{% block bootstrap-theme %} {% endblock bootstrap-theme %}

{% block headcss %}
    <!-- Creative commons shuffle stylesheet for the about page -->
    <link rel="stylesheet" href="{% static 'css/ccshuffle-about.min.css' %}" type="text/css"/>
{% endblock headcss %}

{% block headjs %}
    <!-- Creative commons shuffle javascript for the about page -->
    <script src="{% static 'js/ccshuffle-about.js' %}" type="text/javascript"></script>
{% endblock headjs %}

{% block navigation-header %}
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    {% comment %}<a class="navbar-brand" href="{% url 'home' %}">
                        {% include 'ccshuffle-logo.svg' %}
                    </a> {% endcomment %}
{% endblock %}

{% block navigation %}
    <div class="collapse navbar-collapse">
        {% if user.is_authenticated %}
            <ul id="user-nav" class="nav navbar-nav navbar-left">
                <li class="dropdown">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Favorites</a></li>
                <li><a href="#">Playlists</a></li>
                <li><a href="{% url 'signout' %}?next={{ request.get_full_path }}">Sign out</a></li>
            </ul>
        {% else %}
            <ul id="user-nav" class="nav navbar-nav navbar-left">
                <li class="dropdown">
                <li><a href="{% url 'signin' %}?next={{ request.get_full_path }}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
                <a class="page-scroll" href="#services">Services</a>
            </li>
            <li>
                <a class="page-scroll" href="#intouch">Get in Touch</a>
            </li>
        </ul>
    </div>
{% endblock navigation %}


{% block content %}
    <div class="header-background half-greyscale-this">
    </div>
    <header>
        <div id="headline">
            <div class="headline-content">
                <h1>Creative Commons shuffle</h1>

                <div class="headline-content-description">
                    <hr/>
                    <p>Search for creative commons music all over the web and listen or download songs, which you like,
                        instantly.</p>
                </div>
                <a href="#about" class="btn btn-primary btn-xl">Find Out More</a>
            </div>
        </div>
    </header>
    <section id="about">
        <div id="about-container" class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Enjoy the world of creative commons music&nbsp;!</h2>
                    <hr class="light"/>
                    <p class="text-faded">Creative commons shuffle gives you the possibility to search for creative
                        commons music on the internet. You can listen to the music, favorite the music and download it
                        instantly. It is a Spotify of creative commons music - simply better, because you can feel free
                        to share the music to your friends and use it in your projects.</p>
                    <a href="{% url 'home' %}" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary"/>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary"></i>

                        <h3>Search & Listen</h3>

                        <p class="text-muted">Search for creative commons music and listen to it. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary"></i>

                        <h3>Download & Share</h3>

                        <p class="text-muted">Download the music you like complete legally and share it with you
                            friends.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary"></i>

                        <h3>Favorite</h3>

                        <p class="text-muted"> Favorite the music you like and make your own playlists.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary"></i>

                        <h3>24/7 Radio</h3>

                        <p class="text-muted">Enter tags that describe your music taste (rock, electronic, jazz) and
                            enjoy the music we found for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="intouch">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <a href="mailto:ccshuffle@outofbits.com" target="_blank">
                        <div class="thumbnail">
                            <i class="fa fa-coffee fa-4x"></i>

                            <div class="caption text-center">
                                <p> Feel free to send us feedback or bug reports as well as general questions.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 text-center">
                    <a href="https://github.com/outofbits/ccshuffle" target="_blank">
                        <div class="thumbnail">
                            <i class="fa fa-code fa-4x"></i>

                            <div class="caption text-center">
                                <p> View the source code and feel free to commit to our project. We are open for your
                                    ideas.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-fluid">
            <div class="row credits">
                <div class="container text-center">
                    <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a
                            href="http://kevin-haller.outofbits.com/" target="_blank">Kevin Haller</a> / <a
                            href="http://startbootstrap.com"> Startboostrap</a>
                    </small>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}

