{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div id="content" class="container brand-container">
        <div class="row brand">
            <a href="{% url 'home' %}">
                {% include 'ccshuffle-logo.svg' %}
            </a>
        </div>
        <div class="row">
            {% block  error-title %} {% endblock error-title %}
        </div>
        <div class="row help">
            {% block error-msg %} {% endblock error-msg %}
        </div>
    </div>
{% endblock content %}