{% extends 'base.html' %}

{% comment %} Localization {% endcomment %}
{% load i18n %}

{% block title %} {% trans 'Register' %} | {{ block.super }} {% endblock title %}

{% block navigation-header %}
    {% if not user.is_authenticated %}
        <a class="btn btn-default navbar-btn login-button pull-right visible-xs"
           href="{% url 'signin' %}">{% trans 'Sign in' %}</a>
    {% endif %}
{% endblock navigation-header %}

{% block navigation %}
    {% if not user.is_authenticated %}
        <form id="login-form" action="{% url 'signin' %}"
              class="navbar-form navbar-right form-inline hidden-xs"
              role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="sr-only"
                       for="{{ globalLoginForm.username.id_for_label }}">{% trans 'Username' %}</label>
                {{ globalLoginForm.username }}
            </div>
            <div class="form-group">
                <label class="sr-only"
                       for="{{ globalLoginForm.password.id_for_label }}">{% trans 'Password' %}</label>
                {{ globalLoginForm.password }}
            </div>
            <input type="hidden" name="next" value="{{ request.path }}"/>
            <button id="btn_login" type="submit" class="btn btn-default login-button" value="Login">
                {% trans 'Sign in' %}
            </button>
        </form>
    {% endif %}
{% endblock navigation %}

{% block content %}
    <!-- Register -->
    <div id="content" class="container register-container">
        <section id="register-form-section">
            <h1>{% trans 'Register' %}</h1>

            <form action="{% url 'register' %}" id="register-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">{% trans 'Username' %} *</label>

                    <div class="input-group">
                        {{ form.username }}
	                <span class="input-group-addon" id="basic-username"><span
                            class="glyphicon glyphicon-user"></span></span>
                    </div>
                    {% if form.username.errors %}
                        <div class="error-container">
                            <p class="alert alert-danger" role="alert"> {{ form.username.errors.as_text }} </p>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">{% trans 'Password' %} *</label>

                    <div class="input-group">
                        {{ form.password1 }}
	                <span class="input-group-addon" id="basic-password"><span
                            class="glyphicon glyphicon-lock"></span></span>
                    </div>
                    {% if form.password1.errors %}
                        <div class="error-container">
                            <p class="alert alert-danger" role="alert"> {{ form.password1.errors.as_text }} </p>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">
                        {% trans 'Confirm password' context 'registration form' %} *
                    </label>

                    <div class="input-group">
                        {{ form.password2 }}
	                <span class="input-group-addon" id="basic-password-confirm"><span
                            class="glyphicon glyphicon-lock"></span></span>
                    </div>
                    {% if form.password2.errors %}
                        <div class="error-container">
                            <p class="alert alert-danger" role="alert"> {{ form.password2.errors.as_text }} </p>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">{% trans 'Email' %} ({% trans 'optional' %}) </label>

                    <div class="input-group">
                        {{ form.email }}
	                        <span class="input-group-addon" id="basic-email"><span
                                    class="glyphicon glyphicon-envelope"></span></span>
                    </div>
                    {% if form.email.errors %}
                        <div class="error-container">
                            <p class="alert alert-danger" role="alert"> {{ form.email.errors.as_text }} </p>
                        </div>
                    {% endif %}
                </div>
                <div class="error-container">
                    {% if form.non_field_errors %}
                        <p class="alert alert-danger" role="alert"> {{ form.non_field_errors.as_text }} </p>
                    {% endif %}
                </div>
                <button id="btn_create_account" type="submit" class="btn btn-primary">
                    {% trans 'Create Account' context 'registration form' %}
                </button>
            </form>
        </section>
    </div>
{% endblock content %}

